h1{
    text-align: center;
    justify-content: center;
    color:rgb(0, 0, 0);
    margin-right: 230px;
   }

.container{
    background-color: rgb(0, 0, 0); 
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 400px;
    border-radius: 30px;
}

.row{
    margin-top: 6px;
}

.input{
    border: 2px solid rgb(0, 0, 0);
    padding: 15px 70px;
    border-radius: 10px;
    margin: 0;
    width: 180px;
    text-align: center;
    justify-content: center;
    margin-left: 140px;
    background-color:black; 
    font-size:xx-large;
    -webkit-text-fill-color: azure;
}


.button{
    align-items: center;
    text-decoration: wavy;
    padding: 25px;
    margin: 0 4px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsla(0, 0%, 5%, 0.979);
    -webkit-text-fill-color:rgb(255, 255, 255);
    font-size:xx-large;
}

